body{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#header-text {
    color: white;
    text-align: center;
}

#container {
    width: 90%;
    height: 90%;
    margin: 0% auto;
    overflow: hidden;
}

.questionDiv {
    text-align: center;
    margin: 0% auto;
}

#questionOne {
    float: left;
    display: flex;
    width: 50%;
    height: 33%;
}

#questionTwo {
    display: flex;
    width: 50%;
    height: 33%;
}

#questionThree {
    float: left;
    display: flex;
    width: 50%;
    height: 33%;
}

#questionFour {
    display: flex;
    width: 50%;
    height: 33%;
}

#questionFive {
    float: left;
    display: flex;
    width: 50%;
    height: 33%;
}

#questionSix {
    display: flex;
    width: 50%;
    height: 33%;
}

#checkScore {
    font-size: x-large;
    width: 20%;
    margin-left: 40%;
}

#scorePageContainer {
    margin: 0% auto;
    width: 90vh;
    height: 90vh;
    display: none;
}

#scorePageDiv {
    height: 100%;
    text-align: center;
    font-size: x-large;
    
}