body{
    background-image: url('../images/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#header-text {
    color: white;
    text-align: center;
}

#header-sub-text{
    color: white;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}

span {
    background-color: gray;
    margin: 2%;
    width: 25%;
    height: 250px;
    float: left;
    margin-left: 5%;
}

h3 {
    height: 25px;
    width: 100%;
    text-align: center;
}

button {
    background-Color: transparent;
    border: 3px solid white;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    font-size: 25px;
    
}

div {
    height: 63px
}

#btm-div{
    float: left;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#submit {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}